.accountWrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    .left{
        width: 200px;
        button{
            background-color: transparent;
            border: none;
            outline: none;
            color: #F9FFFE;
            font-size: 20px;
            line-height: 22.8px; 
            letter-spacing: -0.4px;
            margin-bottom: 24px;
            text-align: left;
            display: block;
            cursor: pointer;
            transition: all .3s ease;
            &:hover{
                opacity: 0.6;
            }
        }
    }
    .right{
        width: 894px;
        
    }
}